<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">
    <div class="title_line">카테고리 수정</div>

    <aside class="aside_right">
        <a th:href="@{|/cate/list_all|}">목록</a>
        <span class="menu_divide"> | </span>
        <a th:href="@{|/cate/delete?cateno=${cateVO.cateno}|}">삭제</a>
        <span class="menu_divide"> | </span>
        <a th:href="@{|/cate/create|}">등록</a>
        <span class="menu_divide"> | </span>
        <a href="javascript: location.reload();">새로 고침</a>
    </aside>
    <div class="menu_line"></div>

    <div style="width: 50%; margin: 0px auto;">
        <form name="frm" method="post" action="/cate/update" th:object="${cateVO}">
            <input type="hidden" name="cateno" th:value="${cateVO.cateno}"> <!-- /* 값 유지 목적 */ -->
            <div>
                <label>카테고리 그룹</label>
                <input type="text" name="grp" value="" autofocus="autofocus"
                       class="form-control fom-control-sm" style="width: 50%;" th:field="*{grp}">
                <div th:if="${#fields.hasErrors('grp')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                    <div th:each="err: ${#lists.sort(#fields.errors('grp'))}" th:text="${err}"></div>
                </div>
            </div>
            <div>
                <label>카테고리 이름</label>
                <input type="text" name="name" value="" autofocus="autofocus"
                       class="form-control fom-control-sm" style="width: 100%;" th:field="*{name}">
                <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                    <div th:each="err: ${#lists.sort(#fields.errors('name'))}" th:text="${err}"></div>
                </div>
            </div>
            <div>
                <label>출력 순서</label>
                <input type="number" name="seqno" value="1" min="1" max="1000000" step="1"
                       class="form-control fom-control-sm" style="width: 50%;" th:field="*{seqno}">
                <div th:if="${#fields.hasErrors('seqno')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                    <div th:each="err: ${#lists.sort(#fields.errors('seqno'))}" th:text="${err}"></div>
                </div>
            </div>
            <div>
                <label>출력 모드(Y/N)</label>
                <input type="text" name="visible" value="Y"
                       class="form-control fom-control-sm" style="width: 50%;" th:field="*{visible}">
                <div th:if="${#fields.hasErrors('visible')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                    <div th:each="err: ${#lists.sort(#fields.errors('visible'))}" th:text="${err}"></div>
                </div>
            </div>
            <div class="content_body_bottom">
                <button type="submit" class="btn btn-secondary btn-sm">저장</button>
                <button type="button" onclick="location.href='/cate/list_all'" class="btn btn-secondary btn-sm">취소(목록)</button>
            </div>
        </form>
    </div>
    <div class="menu_line"></div>

    <table class="table table-hover" style="width: 100%;">
        <colgroup>
            <col style='width: 10%;'/>
            <col style='width: 20%;'/>
            <col style='width: 20%;'/>
            <col style='width: 10%;'/>
            <col style='width: 20%;'/>
            <col style='width: 20%;'/>
        </colgroup>
        <thead>
        <tr>
            <th class="th_bs">순서</th>
            <th class="th_bs">카테고리 그룹</th>
            <th class="th_bs">카테고리</th>
            <th class="th_bs">자료수</th>
            <th class="th_bs">등록일</th>
            <th class="th_bs">기타</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cateVO:${list}">
            <td class="td_bs" th:text="${cateVO.cateno}"></td>
            <td class="td_bs">
                <a th:href="@{|/cate/read?cateno=${cateVO.cateno}|}" style="display:block;" th:text="${cateVO.grp}"></a>
            </td>
            <td class="td_bs">
                <a th:href="@{|/cate/read?cateno=${cateVO.cateno}|}" style="display:block;" th:text="${cateVO.name}"></a>
            </td>
            <td class="td_bs" th:text="${cateVO.cnt}"></td>
            <td class="td_bs" th:text="${cateVO.rdate.substring(0, 10)}"></td>
            <td class="td_bs">
                <a th:href="@{|/cate/update?cateno=${cateVO.cateno}|}"><img src="/cate/images/update.png" class="icon" title="수정"></a> <!-- /static 기준 -->
                <a th:href="@{|/cate/delete?cateno=${cateVO.cateno}|}"><img src="/cate/images/delete.png" class="icon" title="삭제"></a> <!--/* /static 기준 */-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>