<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">
    <div class='title_line'>
        <span th:text="${categoryVO.categoryGrp}" class="title_line_text"></span >
        > <span th:text="${categoryVO.categoryName}" class="title_line_text"></span >
        > 글 등록
    </div>

    <aside class="aside_right">
        <a th:href="@{|./create?categoryNo=${categoryVO.categoryNo}|}">등록</a>
        <span class='menu_divide' >│</span>
        <a href="javascript:location.reload();">새로고침</a>
        <span class='menu_divide' >│</span>
        <a th:href="@{|./list_by_categoryno_search_paging?categoryno=${categoryVO.categoryNo}|}">기본 목록형</a>
        <span class='menu_divide' >│</span>
        <a th:href="@{|./list_by_categoryno_grid?categoryno=${categoryVO.categoryNo}|}">갤러리형</a>
    </aside>

    <div class='menu_line'></div>

    <form name='frm' method='post' th:object="${contentsVO}" action='/contents/create' enctype="multipart/form-data">
        <input type="hidden" name="categoryno" th:value="${param.categoryno}">

        <div>
            <label>제목</label>
            <input type='text' name='title' value='' required="required" placeholder="제목을 입력하세요"
                   autofocus="autofocus" class="form-control" style='width: 100%;'>
        </div>
        <div>
            <label>내용</label>
            <textarea name='content' required="required" class="form-control" placeholder="내용을 입력하세요"
                      rows="12" style='width: 100%;'></textarea>
        </div>
        <div>
            <label>검색어</label>
            <input type='text' name='word' value='' required="required" placeholder="검색어를 입력하세요"
                   class="form-control" style='width: 100%;'>
        </div>
        <div>
            <label>이미지</label>
            <input type='file' class="form-control" name='file1MF' id='file1MF' value='' placeholder="파일 선택">
        </div>
        <div>
            <label>패스워드</label>
            <input type='password' name='passwd' value='1234' required="required"
                   class="form-control" style='width: 50%;'>
        </div>
        <div class="content_body_bottom">
            <button type="submit" class="btn btn-secondary btn-sm">등록</button>
            <button type="button" th:attr="onclick=|location.href='./list_by_categoryno?categoryno=${categoryVO.categoryNo}'|" class="btn btn-secondary btn-sm">목록</button>
        </div>

    </form>

</div>
