<div th:fragment="navbarFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="top_menu_img">
        <div class="top_menu_label">요리 블로그 ver 7.0</div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">HOME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- 메뉴 시작 -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown" th:each="categoryVOMenu:${menu}"> <!--/* 대분류 */-->
                        <!--/* 대분류명(카테고리 그룹) 출력, private String usersex; */-->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${categoryVOMenu.categoryGrp}">
                        </a>

                        <!--/* 중분류명(카테고리) 출력, private ArrayList<CateVO> list_userage; */-->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li th:each="categoryVO:${categoryVOMenu.list_categoryName}">
                                <a class="dropdown-item" th:href="@{|/contents/list_by_categoryno?categoryno=${categoryVO.categoryNo}|}" th:text="${categoryVO.categoryName}"></a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{|/bloguser/create|}">회원 가입</a>
                    </li>
                    <li class="nav-item" th:if="${session.userno != null}">
                        <a class="nav-link" href="/bloguser/passwd_update">비밀 번호 변경</a>
                    </li>

                    <li class="nav-item dropdown" th:if="${session.usergrade=='admin'}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="nav-item"><a class="nav-link" th:href="@{|/category/list_search?word=${word}|}">카테고리 목록</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{|/bloguser/list|}">회원 목록</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{|/contents/list_all|}">전체 글 목록</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{|/calendar/create|}">요리 기록 등록</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{|/calendar/list_all|}">요리 기록 목록</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{|/calendar/list_calendar|}">요리 기록 Calendar</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{|/contentsgood/list_all|}">레시피 추천 목록</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <span th:if="${session.userno == null}"><a class="nav-link" href="/bloguser/login" th:text="로그인"></a></span>
                        <span th:if="${session.userno != null}"><a class="nav-link" href="/bloguser/logout" th:text="|${session.useremail} 로그아웃|"></a></span>
                    </li>

                    <li class="nav-item" th:if="${session.usergrade != 'admin'}"><a class="nav-link" th:href="@{|/calendar/list_calendar|}">요리 기록 Calendar</a></li>

                </ul>
            </div>
            <!-- 메뉴 종료 -->

        </div>
    </nav>
</div>