<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">
    <div class="title_line">카테고리 목록</div>

    <table class="table table-hover">
        <colgroup>
            <col style='width: 10%;'/>
            <col style='width: 20%;'/>
            <col style='width: 20%;'/>
            <col style='width: 10%;'/>
            <col style='width: 20%;'/>
            <col style='width: 20%;'/>
        </colgroup>
        <thead>
        <tr>
            <th class="th_bs">회원 번호</th>
            <th class="th_bs">회원 이름</th>
            <th class="th_bs">회원 이메일</th>
            <th class="th_bs">회원 등급</th>
            <th class="th_bs">등록일</th>
            <th class="th_bs">기타</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="userVO:${list}">
                <td class="td_bs" th:text="${userVO.userno}"></td>
                <td class="td_bs" th:text="${userVO.username}"></td>
                <td class="td_bs" th:text="${userVO.useremail}"></td>
                <td class="td_bs" th:text="${userVO.usergrade}"></td>
                <td class="td_bs" th:text="${userVO.rdate}"></td>
                <td class="td_bs">수정/삭제</td>
            </tr>
        </tbody>
    </table>
</div>
</html>