<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">
    <div class="title_line">카테고리 목록</div>

    <aside class="aside_right">
        <a href="javascript: location.reload();">새로 고침</a>
    </aside>
    <div class="menu_line"></div>

    <div class="flex_div_center" style="width: 90%; margin: 0px auto;">
        <form name="frm" method="post" action="/bloguser/create" th:object="${userVO}">
            <div style="margin-right: 2px; width: 20%; float: left;">
                <input type="text" name="username" value="" autofocus="autofocus"
                       class="form-control" style="width: 100%;" th:field="*{username}" placeholder="회원 이름">
            </div>
            <div style="margin-right: 2px; width: 35%; float: left;">
                <input type="text" name="useremail" value="" autofocus="autofocus"
                       class="form-control" style="width: 100%;" th:field="*{useremail}" placeholder="회원 이메일">
            </div>
            <div style="margin-right: 2px; width: 25%; float: left;">
                <input type="password" name="userpassword" value="" min="1" max="1000000" step="1"
                       class="form-control" style="width: 100%;" th:field="*{userpassword}" placeholder="회원 비밀번호">
            </div>
            <div style="margin-right: 2px; width: 15%; float: left; margin-top: 3px; margin-left: 5px;">
                <button type="submit" class="btn btn-secondary btn-sm">등록</button>
                <button type="reset" class="btn btn-secondary btn-sm">취소</button>
            </div>

        </form>
    </div>

    <table class="table table-hover">
        <colgroup>
            <col style='width: 10%;'/>
            <col style='width: 20%;'/>
            <col style='width: 20%;'/>
            <col style='width: 10%;'/>
            <col style='width: 20%;'/>
            <col style='width: 20%;'/>
        </colgroup>
        <thead>
        <tr>
            <th class="th_bs">회원 번호</th>
            <th class="th_bs">회원 이름</th>
            <th class="th_bs">회원 이메일</th>
            <th class="th_bs">회원 등급</th>
            <th class="th_bs">등록일</th>
            <th class="th_bs">기타</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="userVO:${list}">
                <td class="td_bs" th:text="${userVO.userno}"></td>
                <td class="td_bs">
                    <a th:href="@{|./read?userno=${userVO.userno}|}" th:text="${userVO.username}" style="display: block"></a>
                </td>
                <td class="td_bs">
                    <a th:href="@{|./read?userno=${userVO.userno}|}" th:text="${userVO.useremail}" style="display: block"></a>
                </td>
                <td class="td_bs" th:text="${userVO.usergrade}"></td>
                <td class="td_bs" th:text="${userVO.rdate}"></td>
                <td class="td_bs">
                    <a th:href="@{|./update?userno=${userVO.userno}|}"><img src="/bloguser/images/update.png" class="icon" title="수정"></a>/
                    <a th:href="@{|./delete?userno=${userVO.userno}|}"><img src="/bloguser/images/delete.png" class="icon" title="삭제"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</html>