<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">
    <div class="title_line">회원 수정</div>

    <!-- 퀵 바 -->
    <aside class="aside_right">
        <a th:href="@{|/bloguser/create|}"><img src="/bloguser/images/user_create.png" class="icon" title="회원 등록"></a>
        <span class="menu_divide"> | </span>
        <a th:href="@{|/bloguser/list_all|}"><img src="/bloguser/images/list.png" class="icon" title="목록"></a>
        <span class="menu_divide"> | </span>
        <a th:href="@{|/bloguser/delete/${userVO.userno}|}"><img src="/bloguser/images/delete.png" class="icon" title="삭제"></a>
        <span class="menu_divide"> | </span>
        <a href="javascript: location.reload();"><img src="/bloguser/images/refresh.png" class="icon" title="새로 고침"></a>
    </aside>

    <div th:replace="~{bloguser/list_search_com::list_search_fragment}"></div>

    <div class="menu_line"></div>

    <div style="width: 50%; margin: 0px auto;">
        <form name="frm" method="post" action="/bloguser/update" th:object="${userVO}">
            <input type="hidden" name="userno" th:value="${userVO.userno}"> <!-- /* 값 유지 목적 */ -->
            <div>
                <label>회원 이름</label>
                <input type="text" name="username" value="" autofocus="autofocus"
                       class="form-control fom-control-sm" style="width: 50%;" th:field="*{username}">
                <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                    <div th:each="err: ${#lists.sort(#fields.errors('username'))}" th:text="${err}"></div>
                </div>
            </div>
            <div>
                <label>회원 이메일</label>
                <input type="text" name="useremail" value="" autofocus="autofocus"
                       class="form-control fom-control-sm" style="width: 100%;" th:field="*{useremail}">
                <div th:if="${#fields.hasErrors('useremail')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                    <div th:each="err: ${#lists.sort(#fields.errors('useremail'))}" th:text="${err}"></div>
                </div>
            </div>
            <div>
                <label>회원 비밀번호</label>
                <input type="password" name="userpassword" autofocus="autofocus"
                       class="form-control fom-control-sm" style="width: 50%;" th:field="*{userpassword}">
                <div th:if="${#fields.hasErrors('userpassword')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                    <div th:each="err: ${#lists.sort(#fields.errors('userpassword'))}" th:text="${err}"></div>
                </div>
            </div>
            <div>
                <label>출력 모드(Y/N)</label>
                <input type="text" name="visible" value="Y"
                       class="form-control fom-control-sm" style="width: 50%;" th:field="*{visible}">
                <div th:if="${#fields.hasErrors('visible')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                    <div th:each="err: ${#lists.sort(#fields.errors('visible'))}" th:text="${err}"></div>
                </div>
            </div>

            <div class="content_body_bottom">
                <button type="submit" class="btn btn-secondary btn-sm">저장</button>
                <button type="button" onclick="location.href='/bloguser/list_all'" class="btn btn-secondary btn-sm">취소</button>
            </div>
        </form>
    </div>

    <!-- 회원 목록 -->
    <div class="menu_line"></div>
    <div th:replace="~{bloguser/list_all_com::list_all_fragment}"></div>

</div>
</html>